.wrapper {
    margin-bottom: 20px;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 500;
}

.input {
    width: 320px;
    padding: 4px 8px;
    border: 1px solid #2a363b;
    border-radius: 4px;
}