.form {
    border: 1px solid #2a363b;
    padding: 12px;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 4px;
    background-color: #fff;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: 500;
}

.input {
    padding: 4px 8px;
    border: 1px solid #2a363b;
    border-radius: 4px;
}

.button {
    padding: 4px 8px;
    border: 1px solid #2a363b;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: #e84a5f;
    color: #fff;
}