.wrapper {
    display: flex;
    gap: 12px;
}

.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: #2a363b;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
    color: #e84a5f;
}

.activeLink {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: #e84a5f;
}