.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    list-style: none;
    width: 320px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid #2a363b;
    border-radius: 4px;
}

.contact {
    margin: 0;
}

.button {
    padding: 2px 8px;
    border: 1px solid #2a363b;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: #e84a5f;
    color: #fff;
}