.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.username {
    font-weight: 700;
    color: #2a363b;
}

.button {
    padding: 4px 10px;
    border-radius: 4px;
    border: 1px solid #e84a5f;
    background-color: transparent;
    color: #e84a5f;
    font-weight: 600;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: #e84a5f;
    color: #ffffff;
}